
*{
    padding: 0;
    margin: 0;
    
}
.row{
    display: flex;
    padding-top: 60px;
    
}
.img{
    display: flex;
    position: relative;
    left: 1200px;
}
.out{
    display: flex;
    justify-content: center;
}
.skills{
    display: flex;
    justify-content: center;
}
=======
body{
    background-color: dimgray;
}
.one{
    position: relative;
    left: 450px;
}
.two{
    position: relative;
    right: 150px;
}
.three{
    position: relative;
    right: 100px;
}
.four{
    position: relative;
    right: 60px;
}
.five{
    position: relative;
    right: 50px;
}
.six{
    position: relative;
    right: 50px;
}

.seven{
    position: relative;
    right: 30px;
}
.eight{
    position: relative;
    right: 30px;
}

